<section id="experiencia" class="experiencia">
    <div class="container text-white mask py-3 my-5 shadow rounded-2 bg-gradient"
        style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="titulo pt-2 ps-3 pb-2 text-warning">
            
            <h2 class="fw-bold border-bottom border-warning">Experiencia</h2>
        </div>

        <div class="row align-items-start justify-content-start py-3 shadow-sm" *ngFor="let experiencia of experiencialist">
            <!--boton de edicion experiencia-->
            <div class="d-grid gap-2 d-flex justify-content-end">
                <button
                    class="btn btn-warning me-md-2 rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                    type="button" data-bs-toggle="modal" data-bs-target="#edicionExperiencia"><span
                        class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                        edit
                    </span></button>
                <button
                    class="btn btn-warning rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                    type="button" data-bs-toggle="modal" data-bs-target="#borrarExperiencia"><span
                        class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                        close
                    </span></button>
            </div>

            <div class="col-2 col-sm"><img [src] ="experiencia.logo"
                    class="rounded mx-auto d-block border border-2 border-warning" alt="Logo"></div>

            <div class="col-4">
                <h4 class="px-2 pt-4 fs-5">{{experiencia.nombre_empresa}}</h4>

                <p class="text-warning fw-bold text-center">{{experiencia.inicio}} - {{experiencia.fin}}</p>
            </div>
            <div class="col-6">
                <p class="px-2 pt-4 fs-5">{{experiencia.descripcion}}</p>
            </div>
            
        </div>
        
    </div>
    <app-experiencia-modal></app-experiencia-modal>
    <app-borrar-experiencia-modal></app-borrar-experiencia-modal>
</section>