<section id="educacion-d" class="my-5">
    <div class="container mask py-4 my-5 shadow rounded-2 text-white bg-gradient"
        style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="row">
            <div class="col">
                <div class="titulo pt-3 ps-3 pb-1 text-warning">
                    <!--boton de Nuevo elemento-->
                    <div class="d-grid gap-2 d-flex justify-content-end">
                        <button
                            class="btn btn-warning me-md-2 rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                            type="button" data-bs-toggle="modal" data-bs-target="#agregarEducacion"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-lg text-light" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg></button>
                    </div>
                    <h2 class="fw-bold border-bottom">Educación</h2>
                </div>
                <div class="row align-items-start justify-content-start py-3">
                    <!--boton de edicion educacion-->
                    <div class="d-grid gap-2 d-flex justify-content-end">
                        <button
                            class="btn btn-warning me-md-2 rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                            type="button" data-bs-toggle="modal" data-bs-target="#edicionEducacion"><span
                                class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                                edit
                            </span></button>
                        <button
                            class="btn btn-warning rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                            type="button" data-bs-toggle="modal" data-bs-target="#borrarEducacion"><span
                                class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                                close
                            </span></button>
                    </div>
                    <div class="col-2"><img src="/assets/img/imagen_color.png"
                            class="rounded mx-auto d-block border border-2 border-warning" alt="Logo"></div>

                    <div class="col-4">
                        <h4 class="px-2 pt-4 fs-5">Lorem ipsum dolor sit</h4>
                        <p class="text-warning fw-bold text-center">2015-2020</p>
                    </div>
                    <div class="col-6 mt-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sunt quis veniam optio
                            obcaecati?
                            Autem, esse consequatur perferendis iste fugiat reiciendis quo natus quidem, vel ab
                            quaerat?
                            Neque, aspernatur consectetur.</p>
                    </div>
                </div>

                <div class="row align-items-start justify-content-start py-3">
                    <!--boton de edicion educacion-->
                    <div class="d-grid gap-2 d-flex justify-content-end">
                        <button
                            class="btn btn-warning me-md-2 rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                            type="button" data-bs-toggle="modal" data-bs-target="#edicionEducacion1"><span
                                class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                                edit
                            </span></button>
                        <button
                            class="btn btn-warning rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                            type="button" data-bs-toggle="modal" data-bs-target="#borrarEducacion1"><span
                                class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                                close
                            </span></button>
                    </div>
                    <div class="col-2"><img src="/assets/img/imagen_color.png"
                            class="rounded mx-auto d-block border border-2 border-warning" alt="Logo"></div>

                    <div class="col-4">
                        <h4 class="px-2 pt-4 fs-5">Lorem ipsum dolor sit</h4>
                        <p class="text-warning fw-bold text-center">2015-2020</p>
                    </div>
                    <div class="col-6 mt-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sunt quis veniam optio
                            obcaecati?
                            Autem, esse consequatur perferendis iste fugiat reiciendis quo natus quidem, vel ab
                            quaerat?
                            Neque, aspernatur consectetur.</p>
                    </div>
                </div>
                <div class="row align-items-start justify-content-start py-3">
                    <!--boton de edicion-->
                    <div class="d-grid gap-2 d-flex justify-content-end">
                        <button
                            class="btn btn-warning me-md-2 rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                            type="button" data-bs-toggle="modal" data-bs-target="#edicionEducacion2"><span
                                class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                                edit
                            </span></button>
                        <button
                            class="btn btn-warning rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                            type="button" data-bs-toggle="modal" data-bs-target="#borrarEducacion2"><span
                                class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                                close
                            </span></button>
                    </div>
                    <div class="col-2"><img src="/assets/img/imagen_color.png"
                            class="rounded mx-auto d-block border border-2 border-warning" alt="Logo"></div>

                    <div class="col-4">
                        <h4 class="px-2 pt-4 fs-5">Lorem ipsum dolor sit</h4>
                        <p class="text-warning fw-bold text-center">2015-2020</p>
                    </div>
                    <div class="col-6 mt-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sunt quis veniam optio
                            obcaecati?
                            Autem, esse consequatur perferendis iste fugiat reiciendis quo natus quidem, vel ab
                            quaerat?
                            Neque, aspernatur consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>