<div class="perfil-img text-center col-sm-2">
    <img [src]=fotoperfil.imagen_perfil id="imagen"
        class="rounded-circle border border-5 border-white position-absolute translate-middle img-fluid"
        alt="Alvaro.Gabriel">
    <!-- boton de edicion foto/perfil-->
    <div class="justify-content-start float-start ms-2" id="btn-edit">
        <button
            class="btn btn-warning me-md-2 rounded-circle position-absolute bg-transparent border border-2 border-warning bg-gradient"
            type="button" data-bs-toggle="modal" data-bs-target="#edicionImgPerfil"><span
                class="material-symbols-outlined py-1 text-warning" style="font-size: 1rem;">
                edit
            </span>
        </button>
    </div>
</div>
<app-foto-perfil-modal></app-foto-perfil-modal>