<section id="practicas">
    <div class="container mask py-4 my-5 shadow rounded-2 bg-gradient" style="background-color: rgba(0, 0, 0, 0.8)">
        <div class="titulo pt-3 ps-3 pb-4 text-warning">
            <!--boton de Nuevo elemento-->
            <div class="d-grid gap-2 d-flex justify-content-end">
                <button
                    class="btn btn-warning me-md-2 rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                    type="button" data-bs-toggle="modal" data-bs-target="#agregarPractica"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus-lg text-light" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg></button>
            </div>
            <h2 class="fw-bold border-bottom">Prácticas</h2>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center mx-3 py-4" *ngFor="let practicas of practicaslist">
                <div class="card shadow bg-dark text-light" style="width: 18rem;">
                    <img [src]="practicas.imagen" class="card-img-top h-50" alt="...">
                    <div class="card-body">

                        <!--boton de edicion Practicas-->
                        <div class="gap-1 d-flex justify-content-end mb-2">
                            <button
                                class="btn btn-warning me-md-2 rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                                type="button" data-bs-toggle="modal" data-bs-target="#edicionPractica"><span
                                    class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                                    edit
                                </span></button>
                            <button
                                class="btn btn-warning rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                                type="button" data-bs-toggle="modal" data-bs-target="#borrarPractica"><span
                                    class="material-symbols-outlined text-warning py-1" style="font-size: 1rem;">
                                    close
                                </span></button>
                        </div>

                        <h5 class="card-title">{{practicas.titulo}}</h5>
                        <p class="card-text">{{practicas.descripcion}}</p>
                        <a [href]="practicas.link"
                            class="d-flex btn btn-warning justify-content-center fw-bold rounded-pill">Ver</a>
                    </div>
                </div>
            </div>

            <!--<div class="col d-flex justify-content-center mx-3 py-4">
                <div class="card shadow bg-dark text-light" style="width: 18rem;">
                    <img src="/assets/img/codepen.io2.png" class="card-img-top h-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Formulario</h5>
                        <p class="card-text">Práctica de freeCodeCamp elaborando un formulario web utilizando HTML y
                            CSS.</p>
                        <a href="#" class="d-flex btn btn-warning justify-content-center fw-bold rounded-pill">Ver en
                            CodePen</a>
                    </div>
                </div>
            </div>

            <div class="col d-flex justify-content-center mx-3 py-4">
                <div class="card shadow bg-dark text-light" style="width: 18rem;">
                    <img src="/assets/img/codepen.io.png" class="card-img-top h-50" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Landing page</h5>
                        <p class="card-text">Practica freeCodeCamp creando una Landing page con HTML y CSS.</p>
                        <a href="#" class="d-flex btn btn-warning justify-content-center fw-bold rounded-pill">Ver en
                            CodePen</a>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</section>