/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #040404;
    background-image: url(/assets/img/vecteezy-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,
            #ffc107,
            #f37b0af6);
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #474747;
}

/* logos de educacion y experiencia*/
.rounded.mx-auto.d-block {
    width: 5em;
    margin: auto;
    margin-top: 1.5rem;
}