<!--banner-->
<div class="bg-image">
    <div class="border-5 border-bottom border-white position-relative">
        <img [src]=imagen_banner.imagen_background_header class="d-block w-100 h-auto img-fluid"
            alt="banner by mohammad-rahmani">
        
            <!--boton de edicion banner-->
        <div class="d-flex justify-content-end" id="btn-edit">
            <button
                class="btn btn-light me-md-2 rounded-circle position-absolute top-50 bg-transparent border border-2 border-light bg-gradient"
                type="
                    button" data-bs-toggle="modal" data-bs-target="#edicionBanner"><span
                    class="material-symbols-outlined py-1 text-light" style="font-size: 1rem;">
                    edit
                </span>
            </button>
        </div>

        <app-foto-perfil></app-foto-perfil>
    </div>
</div>
<app-banner-modal></app-banner-modal>