<section id="skills" class="skills">
    <div class="container text-white mask py-4 my-5 shadow rounded-2 bg-gradient"
        style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="titulo pt-3 ps-3 pb-4 text-warning">
            <!--boton de Nuevo elemento-->
            <div class="d-grid gap-2 d-flex justify-content-end">
                <button
                    class="btn btn-warning me-md-2 rounded-circle bg-transparent border border-2 border-warning bg-gradient"
                    type="button" data-bs-toggle="modal" data-bs-target="#agregarSkill"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus-lg text-light" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg></button>
            </div>
            <h2 class="fw-bold border-bottom">Skills</h2>
        </div>
        <div class="row">
            <div class="col-6 justify-content-start shadow-sm">
                <div class="text-center">
                    <h4 class="shadow-sm text-warning">Frontend</h4>
                </div>

                <div class="m-2 fw-bold">HTML</div>
                <div class="progress ms-5">
                    <div class="progress-bar progress-bar-striped bg-success bg-gradient border border-1 border-warning"
                        role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>


                <div class="m-2 pt-2 fw-bold">CSS</div>
                <div class="progress ms-5">
                    <div class="progress-bar bg-success bg-gradient border border-1 border-warning" role="progressbar"
                        aria-label="Example with label" style="width: 55%;" aria-valuenow="55" aria-valuemin="0"
                        aria-valuemax="100">55%</div>
                </div>

                <div class="m-2 pt-2 fw-bold">JavaScript</div>
                <div class="progress ms-5">
                    <div class="progress-bar bg-success bg-gradient border border-1 border-warning" role="progressbar"
                        aria-label="Example with label" style="width: 40%;" aria-valuenow="40" aria-valuemin="0"
                        aria-valuemax="100">40%</div>
                </div>

                <div class="m-2 pt-2 fw-bold">Angular</div>
                <div class="progress ms-5">
                    <div class="progress-bar bg-success bg-gradient border border-1 border-warning" role="progressbar"
                        aria-label="Example with label" style="width: 45%;" aria-valuenow="45" aria-valuemin="0"
                        aria-valuemax="100">45%</div>
                </div>

                <div class="m-2 pt-2 fw-bold">Bootstrap</div>
                <div class="progress ms-5">
                    <div class="progress-bar bg-success bg-gradient border border-1 border-warning" role="progressbar"
                        aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100">60%</div>
                </div>
            </div>

            <div class="col-6 justify-content-center">
                <div class="text-center">
                    <h4 class="shadow-sm text-warning">Backend</h4>
                </div>
                <div class="m-2 fw-bold">Java</div>
                <div class="progress ms-5">
                    <div class="progress-bar bg-success bg-gradient border border-1 border-warning" role="progressbar"
                        aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100">60%</div>
                </div>

                <div class="m-2 pt-2 fw-bold">Springboot</div>
                <div class="progress ms-5">
                    <div class="progress-bar bg-success bg-gradient border border-1 border-warning" role="progressbar"
                        aria-label="Example with label" style="width: 45%;" aria-valuenow="45" aria-valuemin="0"
                        aria-valuemax="100">45%</div>
                </div>

                <div class="m-2 pt-2 fw-bold">MySQL</div>
                <div class="progress ms-5">
                    <div class="progress-bar bg-success bg-gradient border border-1 border-warning" role="progressbar"
                        aria-label="Example with label" style="width: 40%;" aria-valuenow="40" aria-valuemin="0"
                        aria-valuemax="100">40%</div>
                </div>
            </div>
        </div>
    </div>
</section>