<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-light" id="staticBackdropLabel">Login</h5>
                <button type="button" class="btn-close bg-warning" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- formulario -->
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label text-light">Usuario</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="@usuario"
                            aria-label="default input example">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-light">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning fw-semibold">Aceptar</button>
            </div>
        </div>
    </div>
</div>